<!-- Loop over each object in the projects array -->

<div class='posts-list'>

  {{#each posts as |post|}}
    <div class='card-border m-2'>
      <div
        class='flex p-05 justify-space-between cardHeader cardHeaderAnimation'
      >
        <div class='flex'>
          
          <p class='fs-1 ml-1'>
            {{post.user.name}}

          </p>
        </div>
        <p class='fs-075 text-gray-600'>
          <a href='/posts/{{post.categories_id}}'>{{post.category.name}}</a>
        </p>
      </div>
      <p class=''>
        {{post.message}}
      </p>

      <div class=''>
        <a class='' href='reply/{{post.id}}'><i></i>Reply to
          post</a>

        <button
          class=''
          type='click'
          data-id='{{post.id}}'
        >Delete</button>
      </div>


      <div class=''></div>
      {{#each post.replies as |reply|}}
        <div class=''>
          {{reply.user.name}}
          {{reply.message}}
        </div>
      {{/each}}
    </div>
  {{/each}}

</div>
<script src='./js/homepage.js'></script>